body{
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px grey;
    width: 30%;
    border-radius: 3px;
}
.formulario-kontainerra{
    margin: 0px;
    text-align: center;
    align-content: center;
    display: inline;
    width: 450px;
    
}
.form-errenkada{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
}

/* button{
    width: 100%;
} */



