body{
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px grey;
    width: 30%;
    border-radius: 3px;
}
.formulario-kontainerra{
    margin: 0px;
    display: flex;
    justify-content: right;
    width: 450px;
}
.form-errenkada{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: right;
}

/* button{
    width: 100%;
} */

.form-errenkada{
    margin: 15px;
    
}

