body{
    margin: 0px;
    padding: 0px;
}

div{
    text-align: center;
    background-color: grey;
}

button{
    background: none;
    color: white;
    border: 0px;
    font-size: large;
    padding: 15px;
    bottom: 15px;
}